.name-h1 {
  text-align: center;
}
.friend-list {
  list-style: none;
  width: 600px;
}
.name-item {
  display: flex;
  align-items: center;
  margin: 10px;
  padding: 10px;
  border-radius: 16px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
  background-color: #fff;
  transition: box-shadow 0.3s ease-in-out;
}
.name-avatar {
  margin-left: 20px;
  border-radius: 15%;
  width: 100px;
}
.name {
  margin: 0;
  font-size: 18px;
  font-weight: bold;
  margin-left: 200px;
}
.name-status {
  display: block;
  width: 20px;
  height: 20px;
}
.red {
  background-color: red;
  border-radius: 50%;
  width: 25px;
  height: 25px;
}
.green {
  background-color: green;
  border-radius: 50%;
  width: 25px;
  height: 25px;
}
